# Ignore virtual environment folders
venv/
ENV/
env/
.venv/

# Ignore SQLite database file
instance/flea_market.db

# Ignore environment variable files
.env

# Ignore log files and logs directory
logs/
*.log
flea_market.log*

# Ignore __pycache__ directories
__pycache__/

#ignore vscode
.vscode/